
<div *ngIf="loaded">
    <div class="square" style="display: table-cell" 
        (click)="performMove(pit)"
        *ngFor="let pit of playerTwo.reverse(); let k = index" >
        {{pit.numberOfSeeds}}
    </div>
    <br>
    <div class="square" style="display: table-cell" 
        (click)="performMove(pit)"
        *ngFor="let pit of playerOne; let i = index" >
        {{pit.numberOfSeeds}}
    </div>
</div>

<br>
<div *ngIf="games != undefined">
    <div id="gameInfo">
        Player turn: {{games.nextTurnPlayer.name}}
        <br>
        is Game Over: {{games.gameOver}}

        <br>
        <div *ngIf="games.gameOver">
            Winner: {{games.winner}}
        </div>

    </div>
</div>

<br>
<button (click)="restartGame()">Restart game</button>
